{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Register Page{% endblock %}
{% block navigation %}
{% include 'public_nav.html' %}
{% endblock %}

{% block body %}
<form method="post">
    {% csrf_token %}
    {{form|crispy}}
    <button class="btn btn-primary" type="submit">Create Account</button>
</form>
{% endblock %}

{% block custom_script %}
<script>
    document.getElementById('public_home_page_nav').setAttribute('class', 'nav-item');
    document.getElementById('public_login_page_nav').setAttribute('class', 'nav-item');
    document.getElementById('public_register_page_nav').setAttribute('class', 'nav-item active');
</script>
{% endblock %}