{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Post Page{% endblock %}

{% block navigation %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}
<form method="post">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-primary">Update Post</button>
</form>
{% endblock %}

{% block custom_script %}
<script>
    document.getElementById('create_post_page_nav').setAttribute('class', 'nav-item');
    document.getElementById('home_page_nav').setAttribute('class', 'nav-item');
</script>
{% endblock %}